[data-layout='wizard-shell'] {
	box-sizing: border-box;
	display: grid;
	grid-template-areas: 'masthead' 'main' 'foot';
	grid-template-rows: auto 1fr auto;
	min-block-size: 100dvh;
}

[data-layout='wizard-shell'] > [data-layout-area] {
	display: grid;
	min-block-size: 0;
}

[data-layout='wizard-shell'] > [data-layout-area='masthead'] {
	grid-area: masthead;
}

[data-layout='wizard-shell'] > [data-layout-area='main'] {
	grid-area: main;
}

[data-layout='wizard-shell'] > [data-layout-area='foot'] {
	grid-area: foot;
}
