[data-area-grid] > *,
[data-area-grid] > svelte-css-wrapper > * {
	--_dry-grid-area-name: var(--dry-grid-area-name, auto);

	grid-area: var(--_dry-grid-area-name);
	min-block-size: 0;
}

[data-area-grid] > :not(svelte-css-wrapper) {
	display: var(--dry-area-grid-area-display, block);
	align-content: start;
	gap: var(--dry-area-grid-area-gap, 0);
	padding: var(--dry-area-grid-area-padding, 0);
	border: var(--dry-area-grid-area-border, 0 solid transparent);
	border-radius: var(--dry-area-grid-area-radius, 0);
	background: var(--dry-area-grid-area-bg, transparent);
	color: var(--dry-area-grid-area-color, inherit);
}

[data-area-grid] > svelte-css-wrapper {
	display: contents;
}
