:root {
	color-scheme: light dark;
}

html,
body {
	margin: 0;
	padding: 0;
	background: var(--dry-color-bg);
	color: var(--dry-color-text);
}

body {
	min-block-size: 100dvh;
}

#app {
	min-block-size: 100dvh;
}
